*{ 
    padding : 0; 
    margin : 0; 
    box-sizing : border-box; 
}

.header{
    border : 1px solid #dedede; 
    padding : 10px; 
    margin : 10px; 
    background-color :rgba(24, 215, 72, 0.938);
    color: rgba(13, 13, 14, 0.938);
    font-family: 'Times New Roman';
} 

.middle{
    padding: 20px;
    border: 2px solid aliceblue;
}

.middle table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td{
    text-align: left;
    padding: 16px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

.footer{
    border : 1px solid #dedede; 
    padding : 10px; 
    margin : 10px; 
    background-color :rgba(20, 212, 52, 0.938);
    color: rgba(8, 8, 8, 0.973);
    font-family: 'Times New Roman';
    text-align: center;
    width: 100%;
}

.menu{
    text-align: right;
}